img{
   
    height: 15rem;
    width: 15rem;
    
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 1rem;
   background-color: rgb(132, 170, 106);
}

#kapasayıcı{  
    display: grid;
    gap: 4rem;
    grid-template-areas: 
    "header article"
    "aside aside";
    border: thin solid rgb(46, 40, 40);
    padding: 2.5rem 6rem 3rem 6rem;
    background-color: rgb(199, 109, 109);
    animation: mybtn 2s infinite ;
    
}

@keyframes mybtn {
    0%{
        border-radius: 5px;
        padding: 10px,20px;
        
    }
    50%{
        border-radius: 40px;
        padding: 5px,10px;
       
    }
    100%{
        border-radius: 5px;
        padding: 10px,20px;
       
    }
}
header{
 
    grid-area:header;
   
    
    
}
article{
    grid-area: article;
}

aside{
    grid-area: aside;
}