
/*
*{
    height: 100vh;
    width: 100vh;
    box-sizing: border-box;
}
*/
body{

    height: 100vh;
    display: block;
    place-content: center center;
    place-items: center center;
    background-color: burlywood;
    text-decoration:none;
    
}

form{ 
    
  
    display: flex;
    flex-direction: column;
    flex: 0 1 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    gap: 0.1em;
}
input{
    display: flex;
    flex: 0 0 2rem;
    width: 20rem;
  
}
#giriş{
    color: rgb(0, 119, 255);
    border-style: inset;
    width: 15em;
    text-align: center;
}
p{
    color: brown;
}
#form{
  border: thick double rgb(0, 0, 0);
}
#cinsiyet{
    display: flex;
    place-items: center;
    display: flex;
    place-content: center center;
    place-items: center center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
}
#faklıgiriş{
    display: flex;
    margin: 1rem;
    
}
#faklıgiriş > a{
    display: flex;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    border: thick solid red 5px;
    margin: 2rem;
  
}
#git{
    color: rgb(0, 0, 0);
    

}
#git:hover{
    background-color: rgb(20, 95, 214);
    

}
#gmail{
    color:rgb(255, 106, 0)
}
#gmail:hover{
    background-color: springgreen;
}
#apple{
    color: rgb(0, 81, 255);
}
#apple:hover{
    background-color: powderblue;
}
img{
   
    height: 200px;
    width: 200px;
    
}
